@{
    ViewBag.Title = "Not authorized client";
    Layout = "MasterPages/_AccountLayout";
}
<div class="container page-wrap titleAnimation">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Page not found <i class="fa fa-file"></i></h1>
            <p>You are not an authorized client, please try to log in again</p>
        </div>
        <div class="col-sm-12 t-center">
            <a class="button" asp-action="Login">Return to Login</a>
        </div>
    </div>
    <br />
</div>

